<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Citas Médicas</title>
    <link rel="stylesheet" href="../Styles/stylehome.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <script src="script.js" defer></script> <!-- Agregar script de JavaScript -->
</head>

<body>
    <header>
        <h1>Bienvenido al Portal de Citas Médicas de Salud Total</h1>
        <img src="../Images/salud_total_1.png" alt="Logo" class="logo">
    </header>
    <nav>
        <ul>
            <li><a href="inicio_sesion.html">Ingresar</a></li>
            <li><a href="index2_registro_usuario.html">Registrar Usuario</a></li>
            <li><a href="index1_recupear_contraseña.html">Olvidó Contraseña</a></li>
            <li><a href="index4_solc_citas_medicas.html">Solicitar Cita Médica</a></li>
        </ul>
    </nav>
    <main>
        <section id="servicios">
            <h2>Nuestros Servicios</h2>
            <p>En nuestro portal, puede gestionar sus citas médicas de manera rápida y sencilla. Ofrecemos los siguientes servicios:</p>
            <ul>
                <li>Registro de nuevos usuarios</li>
                <li>Inicio de sesión para usuarios registrados</li>
                <li>Recuperación de contraseña</li>
                <li>Solicitud de citas médicas</li>
            </ul>
            
        </section>
        
        </section>
        <section>
            <h2>¿Cómo funciona?</h2>
            <p>Siga estos sencillos pasos para utilizar nuestro portal:</p>
            <ol>
                <li><a href="index2_registro_usuario.html">Regístrese</a> como nuevo usuario si no tiene una cuenta.</li>
                <li><a href="inicio_sesion.html">Inicie sesión</a> si ya tiene una cuenta.</li>
                <li><a href="index4_solc_citas_medicas.html">Solicite una cita médica</a> seleccionando la fecha y el motivo de la cita.</li>
                <li>Si olvidó su contraseña, puede <a href="index1_recupear_contraseña.html">recuperarla aquí</a>.</li>
            </ol>
        </section>
    </main>
</body>

</html>
