<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../Styles/styles_index.css">
    <title>Home</title>
</head>

<body>

    <div>
        <h1> <a href="home.html">Pagina de inicio</a></h1>
    </div>
    <img src="../Images/salud_total_1.png" class="img-fluid" alt="Descripción de la imagen">

    <div class="container-sm">
        <h4 class="text-primary">INICIO DE SESIÓN</h4>
        <form>
            <div class="mb-3">
                <label class="form-label">Número de cédula</label>
                <input type="number" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control">
            </div>
        </form>
        <button id="btnIniciarSesion" type="button" class="btn btn-primary">Iniciar sesión</button>
        <button id="btnRegistrarse" type="button" class="btn btn-primary">Registrarse</button>
        <button id="btnRecuperarContraseña" type="button" class="btn btn-primary">¿Se le olvidó la contraseña?</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

    <script src="../Scripts/Inicio_sesion.js"></script>

</body>

</html>
